---
# The scss file which include files from _sass/
---
@charset "UTF-8";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 24px;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

body {
  font: normal 400 1rem/1.6 'Open Sans', sans-serif;
  color: #444;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.25;
}

h1 {
  font-size: 2rem;
  margin: 1.5rem 0;
}

h2 {
  font-size: 1.5rem;
  margin: 1.2rem 0;
}

h3 {
  font-size: 1.3rem;
  margin: 1.1rem 0;
}

p, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem; 
}

ol, ul {
  padding-left: 1rem; 
}

a {
  text-decoration: none;
  color: #5339e0;
}

blockquote {
  border-left: 3px solid #222;
  font-family: 'PT Serif', serif;
  font-style: italic;
  margin-left: -9px;
  padding-left: 2rem;
}

blockquote footer {
  background-color: #fff;
  border-color: transparent;
  color: #7a7a7a;
  font-size: .85rem;
  font-style: normal;
  text-align: left;
  padding: 0;
}

figure {
  margin: 2rem 1rem;
  text-align: center;
}

figcaption {
  color: #7a7a7a;
  font-size: 1rem;
}

.site-nav {
  padding-top: 2rem;
  text-align: center;

  a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.list-unstyled {
  list-style: none;
  padding: 0;

  li {
    margin: .8rem 0;
  }
}

.site-wrap {
  padding: 20px;
  flex: 1 0 auto;
}

@media screen and (min-width: 1024px) {
  .site-wrap {
    max-width: 960px;
    margin: 0 auto;
  }
}


.site-section {
  margin: 1.5rem 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-item--half {
    flex: 1 0 50%;
}

@media screen and (min-width: 1024px) {
  .flex-container--row {
    flex-direction: row;
    margin: -15px;
  }

  .flex-item--half {
    flex: 1 0 50%;
    padding: 15px;
  }
}

.social-media {
  li {
    display: inline-block;
    margin: 0 .8rem;
    font-size: 2rem;
  }
}

footer {
  text-align: center;
  padding: 1rem 20px;
  color: #a0a0a0;
}

.post-meta {
  width: auto;
  font-weight: 300;
  display: inline-block;
  margin: 0 1rem 1rem 0;
  padding: 1rem 0;
  color: #7a7a7a;
}

@import 'code';
