---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post py3">
        <p class="post-meta">{{ post.date | date: site.date_format }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </p>
      </div>
    {% endfor %}

    <div class="post py3">
      <p class="post-meta">Sep 10, 2015</p>
      <a href="http://10clouds.com/blog/why-you-misuse-bootstrap-and-why-you-should-stop-doing-this/" target="_blank" class="post-link">
        <h3 class="h1 post-title">
          Why You Misuse Bootstrap and Why You Should Stop Doing This
        </h3>
      </a>
      <p class="post-summary">

      </p>
    </div>

    <div class="post py3">
      <p class="post-meta">May 26, 2015</p>
      <a href="http://10clouds.com/blog/5-lessons-learned-at-the-front-trends-2015-conference/" target="_blank" class="post-link">
        <h3 class="h1 post-title">
          5 Lessons Learned at the Front-Trends 2015 Conference
        </h3>
      </a>
      <p class="post-summary">
        
      </p>
    </div>

    <div class="post py3">
      <p class="post-meta">Apr 21, 2015</p>
      <a href="http://10clouds.com/blog/6-steps-to-make-your-css-code-more-maintainable/" target="_blank" class="post-link">
        <h3 class="h1 post-title">
          6 Steps to Make your CSS Code More Maintainable
        </h3>
      </a>
      <p class="post-summary">
        
      </p>
    </div> 
  </div>
</div>
