---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post py3">
        {% if post.external_page %}
          <p class="post-meta">{{ post.date | date: site.date_format }} 
            at <a href="{{ post.external_page }}" target="_blank">{{ post.external_page_name }}</a>
          </p>
        {% else %}
          <p class="post-meta">{{ post.date | date: site.date_format }}</p>
        {% endif %}
        {% if post.external_page %}
          <a href="{{ post.external_page_link }}" target="_blank" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
        {% else %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
        {% endif %}
        <p class="post-featured-image">
          <img src="{{ post.image | prepend: site.baseurl }}" alt="Featured image" />
        </p>
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
          {% if post.external_page %}
            <a href="{{ post.external_page_link }}" target="_blank">Read more</a>
          {% else %}
            <a href="{{ post.url | prepend: site.baseurl }}" target="_blank">Read more</a>
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
</div>
