$pre-border-radius: 0;
$pre-background-color: #fafafa;

$hljs-comment: #777;
$hljs-keyword: #00369f;
$hljs-name: #333;
$hljs-number: #009f06 ;
$hljs-string: #f95020;
$hljs-title: #f95020;
$hljs-type: #00369f;
$hljs-tag: #00369f;
$hljs-attribute: #009f06;
$hljs-regexp: #009f06;
$hljs-symbol: #f92080;
$hljs-built-in: #00369f;
$hljs-preprocessor: #777;
$hljs-deletion: #ffdddd;
$hljs-addition: #ddffdd;
$hljs-change: #00369f;
$hljs-chunk: #ccc;

@import 'syntax';

pre,
pre code {
  background-color: transparent;
  border-radius: $pre-border-radius;
}

pre,
code {
  font-family: 'Source Code Pro', Consolas, monospace;
}

code {
  color: #7a7a7a;
  padding: .15rem .45rem;
  line-height: 1.6;
}

pre {
  padding: 1.125em;
  line-height: 1.11;
  overflow-x: scroll;
  background-color: $pre-background-color;
  border-radius: 6px;
}

pre {
  counter-reset: line-numbering;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
  text-align: left;
}

pre a::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 1em; /* space after numbers */
  width: 25px;
  text-align: right;
  opacity: 0.7;
  display: inline-block;
  color: #ccc;
  margin-right: 16px;
  font-size: 13px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

pre a:first-of-type::before {
  padding-top: 10px;
}

pre a:last-of-type::before {
  padding-bottom: 10px;
}

pre a:only-of-type::before {
  padding: 10px;
}

h1, h2, h3, h4, h5,
a {
  code {
    font-size: inherit;
    color: inherit;
    background-color: transparent;
  }
}

.example {
  margin: 2rem 0;
  font-family: initial !important;
}