.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-title {
  font-family: $heading-font-family;
}

.post-content,
.post-summary {
  font-weight: 300;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #333;
}

.post-featured-image img {
  width: 100%;
}

.post-footer {
  font-weight: 300;
  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  display: inline-block;
  margin: 0 1rem 0.5rem 0;
  padding: 0.25rem 0;
  color: #7a7a7a;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}
