.share-page {
	margin: 2rem 0 1.25rem 0;
	text-align: right;
}

.share-links {
	display: inline-block;
	margin-left: 1rem;
}

.share-links a {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	padding: 0.5rem;
	color: white;
	background-color: #ccc;
	text-align: center;
	border-radius: 5px;

	&.fa-facebook {
		background-color: #3b5998;
		&:hover {
			background-color: darken(#3b5998, 15%);
		}
	}

	&.fa-twitter {
		background-color: #55acee;
		&:hover {
			background-color: darken(#55acee, 15%);
		}
	}

	&.fa-google-plus {
		background-color: #dc4e41;
		&:hover {
			background-color: darken(#dc4e41, 15%);
		}
	}

	&.fa-linkedin {
		background-color: #0077b5;
		&:hover {
			background-color: darken(#0077b5, 15%);
		}
	}
}