.post-header {
  margin-bottom: 1em;
}

.post-list {
  list-style-type: none;
  margin: 0;
}

.post-link {
  color: inherit;

  &:hover {
    color: $main-color;
  }
}

.post-meta {
  color: $post-metadata-color;
}
