/* Typography */

$light-font: 300;
$bold-font: 700;

$font-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-serif: 'Merriweather', Georgia, Times New Roman, serif;


/* Colors */

$light-black: #222222;
$gray: #7A7A7A;
$pink: #FF4D4D;

$text-color: $light-black;
$main-color: $pink;


/* Device breakpoints */

//xs: 20em - 320px
//sm: 48em - 768px
//md: 56.25em - 900px
//lg: 68.75em - 1100px
//xl: 81.25em - 1300px

$breakpoints: (
  xs:   20em,
  sm:   48em,
  md:   56.25em,
  lg:   68.75em,
  xl: 	81.25em
);