a {
    color: $main-color;
    text-decoration: none;
    @include transition(color, $transition-time-base, ease-in-out);

  &:hover {
    color: $text-color;
  }

  &:focus {
    outline: none;
  }
}
