@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfairdisplay-black-webfont.eot');
    src: url('../fonts/playfairdisplay-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-black-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-black-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-black-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-black-webfont.svg#playfair_displayblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}