@font-face {
    font-family: 'Raleway';
    src: url('raleway-regular-webfont.eot');
    src: url('raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff'),
         url('raleway-regular-webfont.ttf') format('truetype'),
         url('raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplayBlack';
    src: url('playfairdisplay-black-webfont.eot');
    src: url('playfairdisplay-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('playfairdisplay-black-webfont.woff2') format('woff2'),
         url('playfairdisplay-black-webfont.woff') format('woff'),
         url('playfairdisplay-black-webfont.ttf') format('truetype'),
         url('playfairdisplay-black-webfont.svg#playfair_displayblack') format('svg');
    font-weight: normal;
    font-style: normal;
}