.site-header {
  @extend %site-surround;
  border-bottom: 1px solid $site-surround-border-color;
  margin-bottom: 2em;

  @include media-query(map-get($device-breakpoints, sm)) {
    margin-bottom: 3em;
  }
}

.site-nav, .site-title {
	display: inline-block;
}
