body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-content {
  @extend %container;
  flex: 1 0 auto;
}

%site-surround {
  padding: 1em 2em;

  a {
    color: $site-surround-text-color;

    &:hover {
      color: $site-surround-hover-color;

      svg {
        fill: $site-surround-hover-color;
      }
    }
  }
}
