.highlight {
    background-color: lighten($light-gray, 18%);
    border: 1px solid lighten($light-gray, 10%);
    border-radius: 5px;
    padding: 1em;
    margin-bottom: emRhythm($base-line-multi);
}